// Niri base configuration file

// === Noctalia ===
spawn-at-startup "noctalia"
include "noctalia.kdl"

// === Includes ===
include "hardware.kdl"
include "layout.kdl"
include "binds.kdl"
include "rules.kdl"

// === Environment ===
environment {
  // use Niri for desktop settings
  XDG_CURRENT_DESKTOP "niri"

  // QT theming
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "gtk3"

  // helper for x11
  XCURSOR_SIZE "24"
}

// === Misc Options ===
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay { skip-at-startup; }

// Allows notification actions and window activation from Noctalia.
debug { honor-xdg-activation-with-invalid-serial; }
