// Hardware configuration for Niri

// Inputs
input {
    keyboard {
        xkb {
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    trackpoint {
    }

    trackball {
        // Trackball acceleration
        accel-speed 0
        accel-profile "flat"
    }

    // Focus follows mouse with scroll amount, but doesn't scroll too far
    // focus-follows-mouse max-scroll-amount="10%"
}
