// Niri layer and window rules configuration file

// === Window Rules: Default ===
window-rule {
  // Nice, minimal rounded corners
  geometry-corner-radius 12

  // No background with border
  draw-border-with-background false

  // Clip to geometry to avoid corner overflow
  clip-to-geometry true

  background-effect {
    // Noctalia only draws transparency when it's called for, so this does not incur a performance penalty

    // Blur background behind all transparent windows
    blur true

    // Disable xray for all window backgrounds
    xray false
  }
}

// === Window Rules: General ===
window-rule {
    match app-id="^mpv$"
    default-column-width { fixed 1920; }
    default-window-height { fixed 1080; }
}

window-rule {
    match app-id="^com.github.AppManager$"
    match app-id="^io.github.flattool.Ignition$"
    default-column-width { fixed 800; }
}

window-rule {
    match app-id="^com.mitchellh.ghostty$"
    opacity 0.95
}

// === Window Rules: HDMI-A-1 ===
window-rule {
    match app-id="^org.telegram.desktop$"
    match app-id="^de.feschber.LanMouse$"
    open-on-output "HDMI-A-1"
    default-column-width { fixed 600; }
}

// === Window Rules: Floating ===
window-rule {
    match app-id="^org.gnome.DejaDup$"
    match app-id="^Emulator$"
    match app-id="^zenity$"
    match app-id="^xdg-desktop-portal$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^dev.noctalia.Noctalia$"
    match app-id="^org.gnome.Decibels$"
    match title="Picture in picture"
    match title="AppImage Installer"
    match title="Open File"
    match title="Select"
    match title="Choose a wallpaper"
    match title="Open Folder"
    match title="Save As"
    match title="Library"
    match title="Choose Where to Download"
    match title="File Operation Progress"
    match title="Rename"
    match title="Copy Files"
    match title="Move Files"
    match title="Search Files"
    match title="All Files"
    match title="Save Project"
    match title="Sign In"
    match app-id="^dev.zed.Zed$" title="Zed —"
    open-floating true
}

// === Window Rules: Steam ===
// Darkest Dungeon
window-rule {
    match app-id="^darkest.bin.x86_64$"
    open-fullscreen false
    open-floating false
}

// VRR
window-rule {
    match app-id="^steam_app_*"
    variable-refresh-rate true
}

// Steam notifications
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

// === Layer Rules ===
layer-rule {
  background-effect {
    // Disable xray for all layers
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  // Noctalia background displays underneath the overview
  // Blur settings are managed in Notalia settings panel --> Niri
  place-within-backdrop true
}
