// Layout for Niri
layout {
    // Let Noctalia handle the background
    background-color "transparent"

    // Comfortable gaps between windows
    gaps 16

    border {
        // No border
        off
    }

    focus-ring {
        // Minimal focus ring
        width 2
    }

    // Center single column windows
    always-center-single-column
}

recent-windows {
    highlight {
        // Match corners from windows
        corner-radius 10
    }
}

blur {
    // Nicer blur
    passes 3
    offset 2
    noise 0.05
    saturation 1.5
}
